$font-family: 'Roboto', sans-serif;
$bg-color: #1C1C1C;
$bg-color-light: #707070;

$text-color: #ffffff;

$radius: 8px;

$header-bg: #ffcc00;
$nav-bg: #707070;

$link-color: #000;
$filter-border: #ccc;

$table-bg: #ffffff;
$table-header-bg: #ffdd57;

$max-width: 900px;