---
---
<!DOCTYPE html>
<html lang="en">
    {% include head.html %}
    <body>
        <div class="warning">This website is not affiliated with the United States government nor DOGE.</div>
        <header class="c">
          <div class="left">
            <div class="pre">Department of</div>
            <div class="main">Government Efficiency</div>
          </div>
          <div class="right">
            <div class="pre">Federal Regulation</div>
            <div class="main">Explorer</div>
          </div>
        </header>
        <nav class="c">
          <div class="credit">Developed by Jacob C. Voller</div>
          <a href="https://github.com/JacobVoller/doge" target="_blank">View Code on GitHub</a>
        </nav>
        <div class="container">
          {{ content }}
        </div>
        <script>
          {% include scripts.js %}
        </script>
    </body>
</html>