---
---
@import "variables";

body {
  margin: 0;
  font-family: $font-family;
  background: $bg-color;
  color: $text-color;
}

.warning {
  width: 100%;
  text-align: center;
  background: $bg-color-light;
  font-size: 14px;
  font-weight: 500;
  padding: 6px;
}

header {
    display: flex;
    padding: 1rem 2rem;

    .left {
      max-width: 300px;
      text-align: center;
      padding-right: 20px;
    }

    .right {
      padding-left: 20px;
      border-left: 2px solid white;
    }
  
    .left, .right {
      display: flex;
      flex-direction: column;
    }

    .pre {
      font-size: 16px;
      font-weight: 700;
    }

    .main {
      font-size: 20px;
      font-weight: 900;
    }

    .pre, 
    .main {
      text-transform: uppercase;
    }
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $bg-color-light;
  padding: 0.5em 1em;

  .credit,
  a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
  }

  .credit {
    text-align: left;
  }

  a {
    display: flex;
    gap: 1em;
    text-align: right;
  }
}

.container {
  padding: 5px 10px 0 10px;
}

.filters {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 300px;

  .filter-group {
    display: flex;
    flex-direction: column;

    label {
      font-weight: 500;
      margin-bottom: 0.25rem;
    }
  }

  input, select {
    padding: 0.5em;
    font-size: 1em;
    margin-right: 0.5em;
    border: 1px solid $filter-border;
    border-radius: $radius;
  }
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  border: 1px solid #ccc;
  border-radius: $radius;
  overflow: hidden;
  background-color: white;

  th {
    background-color: $bg-color-light;
    color: white;
    font-weight: bold;
    padding: 8px 12px;
    text-align: center;
    text-transform: uppercase;
  }

  td {
    background-color: white;
    color: black;
    padding: 8px 12px;
  }

  tr:not(:last-child) td {
    border-bottom: 1px solid #e0e0e0;
  }
}

.c,
p,
h3,
hr {
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
  border-radius: $radius;
}

hr {
  border: none;
  height: 2px;
  background-color: white;
  margin-top: 20px;
}

h3 {
  margin-top: 5px;
  margin-bottom: 10px;
  text-transform: uppercase;
}